del/data/
*.jpeg
del/src/__pycache__/dataloader.cpython-310.pyc
del/src/__pycache__/model.cpython-310.pyc
del/logs/model.pth
del/wandb/
del/model.pth
del/src/__pycache__/utils.cpython-310.pyc
data_utils.py
kfold_cv.py
trainer.py
wandb/debug-cli.arian.log
wandb/settings
del/notebooks/test.ipynb
del/logs