data/
*.jpeg
src/__pycache__/dataloader.cpython-310.pyc
src/__pycache__/model.cpython-310.pyc
logs/model.pth
wandb/
model.pth
src/__pycache__/utils.cpython-310.pyc
data_utils.py
kfold_cv.py
trainer.py
wandb/debug-cli.arian.log
wandb/settings
notebooks/test.ipynb
logs